/*Body CSS*/
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #f0e5e4;
}

/*navbar and related css*/
.col{
	border: 2px solid #d14635;
	padding: 5px;
	background-color: white;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col:first-child{
	margin-left: 0;
}

.navbar{
	width: fit-content;
	margin: 0 auto;
}

.navbar:after{
	content: '';
	display: table;
	clear: both;
}

a{
	color: #d14635;
}
a:hover{
	color: white;
	background-color: #d14635;
}

/*header & related*/
header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 60px;
}

header p{
	color: white;
}

/*Main Element CSS*/
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	border: 5px solid black;
	box-sizing: border-box;
}

main span{
	display: block;
	text-align: center;
	font-size: 15px;
	padding: 2px;
	border: 1px solid black;

}

h2{
	font-size: 30px;
	color: #d14635;
	margin: 40px 0 10px;
}

h3{
	font-size: 25px;
	color: #d14635;
	margin: 40px 0 10px;
}


/*Footer CSS*/
footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 8px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}