body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #f0e5e4;
}

/*navbar and related css*/
.col{
	border: 2px solid #d14635;
	padding: 5px;
	background-color: white;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.col:first-child{
	margin-left: 0;
}

.navbar{
	width: fit-content;
	margin: 0 auto;
}

.navbar:after{
	content: '';
	display: table;
	clear: both;
}

a{
	color: #d14635;
}
a:hover{
	color: white;
	background-color: #d14635;
}

/*THE CULPRIT!!!*/
header{
	background-color: #d14635;
	text-align: center;
	padding: 24px;
	max-width: 100%;
}

header img{
	border-radius: 270px;
    width: 600px;
    border: 20px solid whitesmoke;
    
}

.headertext{
	color: white;
	width: 1000px;
	margin: 0 auto;
}

header h1{font-size: 60px;}

header h2{font-size: 40px;}

header p{font-size: 20px;}

/*Main CSS*/
main p{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.mainimg{
	margin: 0 auto;
	width: 498px;
	height: 199px;
	margin-top: 30px;
	margin-bottom: 30px;
}


/*footer css*/
footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 8px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}